<% layout('layouts/boilerplate') %> 
<h1>Uh oh...</h1>
<div class="alert alert-danger">
    <h2><%= err.message %>  </h2>
<p>    Sorry 'bout that chap. Seems that doesn't work.</p>

<p><%= err.stack %> </p>
</div>