<% layout('layouts/boilerplate') %> 

    <h1 hidden>The Find My Curriculum Quiz</h1>
    <div id="currQuiz">
        <div id="hud">
            <div class="hud-item">
                <p id="progressText" class="hud-prefix">
                    Question
                </p>
                <div id="progressBar">
                    <div id="progressBarFull"></div>
                </div>
            </div>
        </div>
        <div id="question">Answer the question to narrow down your results</div>
    
    </div>

    

<script src="../public/js/quizjs.js"></script> 